<!DOCTYPE html>
<html>
<head>
<center><h1>CSE 6331 - Assignment 05</h1></center>
<center><h2>Priyanka Wakte-1001920878</h2></center><br><br>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
   <table class="table table-bordered">
    <thead>
      <tr>
         <th><a href="/">Home</a></th>
         <!-- <th><a href="/data">Earthquake Data</a></th> -->

          <th><a href="/SearchByWord">SearchByWord</a></th>
           <th><a href="/SearchByCombination">SearchByCombinations</a></th>

      </tr>
    </thead>
    </table>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
